.SimName {
    text-align: center;
    font-size: 48px;
    font-family: "Mitr", sans-serif;
    font-weight: 700;
}

.SimBox {
    position: relative;
    height: 780px;
    background-color: #212121;
    top: 10px;
}

#canvas {
    touch-action: none;
    border-radius: 18px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 35px;
    transform: translate(-50%, 0);
}

.overlay {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 35px;
    transform: translate(-50%, 0);
}

#canvasTop {
    touch-action: none;
    border-radius: 18px;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 35px;
    transform: translate(-50%, 0);
}

.kSlider {
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translate(-344px, 0);
    top: 630px;
    -webkit-user-select: none;
    user-select: none;
}

.kSlider input[type=range] {
    width: 100px;
}

.mSlider {
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translate(-356px, 0);
    top: 667px;
    -webkit-user-select: none;
    user-select: none;
}

.mSlider input[type=range] {
    width: 100px;
}

.fSlider {
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translate(328px, 0);
    top: 493px;
    -webkit-user-select: none;
    user-select: none;
}

.Description {
    text-align: left;
    font-size: 16px;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    width: 1000px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15px;
    color: #212121;
    margin-bottom: 50px;
}

h2 {
    margin-bottom: -6px;
}

p {
    color: #616161;
}

.onoffswitch {
    position: relative; width: 30px;
    left: 50%;
    transform: translate(349px, 0);
    top: 408px;
    z-index: 4;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 16px; padding: 0; line-height: 16px;
    border: 2px solid #8a8a8a; border-radius: 16px;
    background-color: #5c5c5c;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 16px; margin: 0px;
    background: #a3a3a3;
    position: absolute; top: 0; bottom: 0;
    right: 12px;
    border: 2px solid #8a8a8a; border-radius: 16px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #119311;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #8a8a8a;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

input[type=range] {
    accent-color: rgb(116, 116, 116);
    width: 129px;
}